.jumbotron {
    background-color: transparent !important;
    height: 600px;
}

nav, .nav {
    background-color: transparent !important;
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    position: fixed;
    border: 0px;
}

.nav.navbar-nav.navbar-right li a {
    color:#FFFFFF
}


.portfolio {
    min-width:100%;
    display:inline-block;
    background-color:#FFFFFF
}


.jumbotron .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

h2 {
    color:#FFFFFF
}

.thumbnail{        
    width: 300px; 
    // or you could use percentage values for responsive layout
    // width : 100%;
    height: 150px;
    overflow: auto;
}

.thumbnail img{
    // your styles for the image
    width: 100%;
    height: auto;
    display: block;
}

body {
     margin: 0;
     background: url('/Users/StupidRobot/Dropbox/RyansPictures/GoldenGateNightTimeDecember2016.jpg');
     background-repeat:no-repeat;
     background-position:top;
     background-attachment:fixed;
     background-size: 1300px 1000px;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

